Source: module-runtime-measurement
Section: unknown
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: debhelper-compat (= 13), robotkernel-dev (>=6), service-provider-process-data-inspection-dev (>=6)
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://github.com/robotkernel-hal/module_runtime_measurement.git
Vcs-Git: https://github.com/robotkernel-hal/module_runtime_measurement.git
Rules-Requires-Root: no

Package: module-runtime-measurement
Architecture: any
Multi-Arch: same
Depends: robotkernel ${misc:Depends}
Description: Robotkernel module to do runtime measurement of trigger pulses. 
 Prints runtime statistic over given sample size and all time.
